<div class = "go-back">
	<a href = "../">Go Back</a>
</div>
<div class = "container checkin">
	<div id = "message" class = "text-center">
		<h2>What is your last name?</h2>
	</div>
	<div id = "last-name">
		<input type="text" id = "input-name" name="lname" placeholder = "Enter your last name" size = "40">
		<input type="submit" id = "input-submit" value="Submit">
	</div>
</div>