<div class = "go-back">
	<a href = "../">Go Back</a>
</div>

<div class = "container contact">
	<div class = "row">
		<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
			<div class = "message text-center">
				<h2>I've contacted the staff for you.</h2>
				<p>Someone should be along to help you very soon. Please stay close to me until they arrive.
			</div>
		</div>
	</div>
</div>