<div class = "container">
	<div class = "row choices">
		<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 main-message">
			<h1>How may I help you?</h1>
		</div>
		<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<a href = "./checkin">
				<div class = "choice-inner">
					<img src = "assets/img/contract.png" />
					<p>Check In</p>
				</div>
			</a>
		</div>
		<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<a href = "#choice2">
				<div class = "choice-inner">
					<img src = "assets/img/sign.png" />
					<p>Get Directions</p>
				</div>
			</a>
		</div>
		<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<a href = "#choice3">
				<div class = "choice-inner">
					<img src = "assets/img/compass.png" />
					<p>Take Me Somewhere</p>
				</div>
			</a>
		</div>
		<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<a href = "#choice4">
				<div class = "choice-inner">
					<img src = "assets/img/doctor.png" />
					<p>Contact Staff</p>
				</div>
			</a>
		</div>
	</div>
</div>
